.menu{
	font-family: lato;
	text-align: center;
	margin: 0;
	padding: 0;
}
.jeden{
	display: flex;
	justify-content: center;
}
.jeden li{
	background-color: #E9E9E9;
	width: 200px;
	list-style-type: none;
	border: 1px solid #D5D5D5;
}
.jeden li:hover{
	background-color: #F0F0F0;
}
.jeden li a{
	padding: 4px;
	display: block;
	text-decoration: none;
}
.jeden li li:hover{
	background-color: lightgreen;
}
.jeden li ul{
	display: none;
	overflow: hidden;
}
.jeden li:hover ul{
	display: block;
	position: absolute;
	width: 175px;
	padding: 0;
}